.row{
  max-width: var(--max);
  margin: 0 auto;
  padding: 0 var(--pad);
  height: 72px;                 
  display: flex;
  align-items: center;
}

.topbar {
  width: 100%;                 
  background: #fff;
 
}

.subbar {
  width: 100%;                

  display: flex;
  justify-content: center;
  gap: 24px;
}

.subbar a {
  text-decoration: none;
  color: #444;          
  font-weight: 600;
  font-size: 20px;
  transition: color 0.2s ease;
}

.subbar a:hover {
  color: #848588;        
}

.subbar a.active {
  color: #000;          
  
}

